$color_1: #333;
$color_2: white;
$font-family_1: 'Arial', sans-serif;
$background-color_1: #007bff;
$background-color_2: #0056b3;

/* Add responsive design, animations, and other CSS as needed to match the design */
.contact-form-container {
	font-family: $font-family_1;
}

.text-contact{
	position: relative;
    left: 46em;
    top: 9em;
}
.text-contact .contactus-text{
	position: relative;
    left: 5em;
	color: #373737;
}
.text-contact .contact-text__second{
	position: relative;
    top: 0.5em;
    -webkit-user-modify: read-write-plaintext-only;
}
.form-container {
	margin: 11em;
    padding: 54px;

	display: flex;
}
.form-container img{
	position: relative;
    left: -15em;
    top: -16em;
	width: 35em;
    height: 35em;

}
h1 {
	color: $color_1;
}
form {
	display: flex;
    flex-direction: column;
    width: 400px;
    height: 63px;
    position: relative;
    left: -11em;
}
.form-second{
	width: 400px;
    position: relative;
    left: 28em;
    top: -166px;
    height: 63px;
}
.form-second #description{
	width: 400px;
    height: 400px ;
}

input[type="text"] {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type="email"] {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;

}
input[type="description"] {
	margin-bottom: 10px;
	padding: 40px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
button {
	position: relative;
    left: 227px;
    height: 63px;
    width: 459px;
	padding: 10px 20px;
	color: $color_2;
	background-color: $background-color_1;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $background-color_2;
	}
}
.footer{
    background-color: white;
    display: inline-flex;
    position: relative;
    top: -36em;
    z-index: -1;
    left: 102px;
}

.footer-liks{
	display: inline-flex;
}

.footer .footer-liks ul{
	display: inline-flex;
	list-style-type: none;

}

.footer ul li{

	color: black;
	padding: 20px;
	
}

.footer ul li a {
text-decoration: none;
color: black;
}

.footer .footer-links__second{
	display: inline-flex;
	list-style-type: none;
	text-decoration: none;
}
.footer p{
	margin-top: 19px
}
///responsive

@media only screen and (max-width: 600px) {
	.foto-blackpretty{
	  display: none;
	}

	.form-container{
		position: relative;
		left: -43px;
	}
	.form{
display: revert-layer;
	}
	.form-second{
		 display: contents;
	}
	.button-responsive{
	    position: relative;
    left: 15px;
    top: 166px;
    width: 368px;
	}
	.footer{
		display: none;
	}
	.text-contact{
	    position: relative;
    	left: 15px;
	}


	.navbar-toggler{
		position: relative;
		left: 142px;
		border: white;
		top: -58px;
	  

	}
  }


