body {
  overflow-x: hidden;
}
.name-input{
  width: 50%;
  height: 60px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
#name-input-1{
  margin-right: 5px;
}
#name-input-2{
margin-left: 5px;}
.loginImg {
  padding: 5px;
  width: 97%;
}
.go-back {
  display: flex;
}
.go-back p {
  margin-top: 5px;
}
.checkwithtxt {
  display: flex;
  gap: 5px;
  align-items: center;
}
.left {
  align-items: center;
  display: flex;
  justify-content: center;
}

.left-side {
  height: 90%;
  width: 55%;
  padding-right: 2em;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
}
.selectdot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
}
.main-input-sec {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  input {
    height: 50px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 1em;
    &:active {
      border: 1px solid #455bef;
      outline: none;
    }
    &:focus {
      border: 1px solid #455bef;
      outline: none;
    }
  }
}
.forget-password {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  .rm-checkbox {
    display: flex;
    height: 30px;
    width: 200px;
    align-items: center;
    text-align: center;
    #checkbox {
      height: 15px;
      width: 50px;
      margin: 0px;
    }
    .rm-txt {
      width: 120px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
.addbtn {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.loginBtn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background: #455bef;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
}
.googleBtn {
  margin-top: 1em;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  color: grey;
  background-color: transparent;
  font-size: 16px;
}
.do-not-have-an-account {
  margin-top: 1em;
  text-align: center;
  width: 100%;
}
.or {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  hr {
    height: 2px;
    width: 100%;
    color: grey;
  }
  .or-p {
    margin: 5px;
  }
}
.login {
  min-height: 100vh;
}

.bg-image {
  //   background-image: url("../assets/images/registerImg.jpg");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: bold;
  font-size: 50px;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.userTypeBtn {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: 1px solid #dee2e6;
  background-color: white;
}
.userTypeBtn2 {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: 1px solid #455bef;
  background-color: white;
}
.actives {
  border: 1px solid #455bef;
}

@media screen and (max-width: 768px) {
  .loginImg {
    visibility: hidden;
  }

  .main-input-sec {
    width: 90%;
  }

  .left-side {
    width: 90%;
  }
  .login-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 50px !important;
  }
  .logores {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .logoja {
    width: 216px;
  }
  .login {
    min-height: 80vh;
  }
  .subs {
    width: 100%;
    margin-top: 40%;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }
  .butoniRegister {
    width: 80%;
    height: 57px;
    border-radius: 12px;
    background-color: #455bef;
    border: none;
    color: white;
    font-weight: 400;
  }
}
