.register-page-container {
  //   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .maskgroup-container {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
}
.text-header {
  font-weight: bold;
  font-size: 30px;
}
