.view-profile {
    color: #363636;
    margin-top: 6em;
    display: flex;

    .no-rating {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .view-profile-side {
        width: 25%;

        .vp-left {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;

            .vp-left-container {
                border: 1px solid #eaeaea;
                width: 90%;
                border-radius: 10px;

                .vp-left-container-header {
                    margin-top: 1em;
                    display: flex;
                    align-items: center;
                }

                .vp-left-container-profile {
                    display: flex;
                    align-items: center;
                    margin: 1em;
                    justify-content: space-between;

                    .vp-cp-left {
                        display: flex;
                        align-items: center;

                        .vp-cp-data {
                            margin-left: 0em;
                        }
                    }

                    .vp-cp-data-time {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                    .vp-cp-data-p {
                        margin: 0;
                        color: grey;
                        font-weight: 300;
                    }

                    .vp-cp-data-h6 {
                        margin: 0;
                    }

                    .pccp-image {
                        border-radius: 50%;
                    }
                }

                .vp-left-email {
                    margin: 1em;

                    .vp-cp-data-p {
                        margin: 0;
                        color: grey;
                        font-weight: 300;
                    }
                }

                .vp-left-linkedin {
                    margin: 1em;

                    .pc-cp-data-p {
                        margin: 0;
                        color: grey;
                        font-weight: 300;
                    }
                }

                .vp-left-instagram {
                    margin: 1em;

                    .pc-cp-data-p {
                        margin: 0;
                        color: grey;
                        font-weight: 300;
                    }
                }

                .horiz-barrier {
                    width: 100%;
                    height: 2px;
                    background-color: #eaeaea;
                    margin-top: 1em;
                }
            }
        }
    }

    .vpm-wrapper {
        width: 70%;

        .view-profile-main {
            border: 1px solid #eaeaea;
            border-radius: 10px;

            .vpm-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;

                .vpmh-left {
                    display: flex;
                    align-items: center;

                    .vpmh-left-id {
                        margin-left: 1em;
                    }
                }
            }

            .vpm-body {
                display: flex;
                justify-content: center;

                .vpm-center-profile {
                    width: 95%;

                    .rating {
                        .rating-list {
                            width: 95%;
                            display: grid;
                            grid-template-columns: auto auto auto;

                            .rating-list-item {
                                border: 1px solid #eaeaea;
                                border-radius: 10px;
                                padding: 10px;
                                width: 20em;
                                margin: 10px;

                                .rli-head {
                                    display: flex;
                                    align-items: center;

                                    .rli-head-id {
                                        margin-left: 1em;
                                    }
                                }

                                .rli-body {
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }

                    .data-container {
                        border: 1px solid #eaeaea;
                        padding: 1em;
                        margin: 10px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;

                        .skill-box {
                            border: 1px solid #eaeaea;
                            border-radius: 10px;
                            padding: 10px;
                            margin: 10px;
                        }

                        .data-section {
                            display: flex;
                            justify-content: space-between;

                            .names {
                                .name-profession {
                                    font-size: 16px;
                                    margin: 0;
                                }

                                .name-company {
                                    font-size: 16px;
                                    font-weight: 600;
                                }
                            }

                            .dates {
                                text-align: start;

                                p {
                                    margin: 0;
                                }

                                .end-date {
                                    font-weight: 600;
                                }
                            }
                        }

                        .barrier {
                            width: 100%;
                            height: 1px;
                            background-color: #eaeaea;
                            margin-bottom: 1em;
                        }
                    }

                    #skill-container {
                        display: flex;
                        flex-direction: row;
                    }

                    .label {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1em;
                    }
                }

            }
        }



        .vpmp-post-controll-main {
            padding: 1em;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            margin-top: 2em;
            margin-bottom: 4em;

            .post-controll-main-head {
                display: flex;
                justify-content: space-between;

                .post-controll-title {
                    font-size: 40px;
                    font-weight: 700;
                }

                .post-controll-options {
                    display: flex;
                    align-items: center;

                    .pc-accept {
                        margin-right: 10px;
                        border: none;
                        height: 3em;
                        width: 10em;
                        border-radius: 10px;
                        color: white;
                        background-color: #455bef;
                    }

                    .pc-reject {
                        margin-right: 10px;
                        border: none;
                        height: 3em;
                        width: 10em;
                        border-radius: 10px;
                        color: white;
                        background-color: #FF2A2A;

                    }
                }
            }

            .post-controll-main-details {
                margin-top: 1em;
                display: flex;

                .pcmd-item {
                    .pcmd-item-value {
                        color: #455bef;
                        font-weight: 600;
                    }
                }

                .vert-barrier {
                    height: 50px;
                    width: 2px;
                    margin-left: 20px;
                    margin-right: 20px;
                    background-color: #eaeaea;
                }
            }

            .post-controll-main-description {
                margin-top: 1.5em;
            }
        }
    }
}


@media screen and (max-width:768px) {
    .view-profile {
        color: #363636;
        margin-top: 6em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .view-profile-side {
            width: 100%;

            .vp-left {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: center;

                .vp-left-container {
                    border: 1px solid #eaeaea;
                    width: 90%;
                    border-radius: 10px;

                    .vp-left-container-header {
                        margin-top: 1em;
                        display: flex;
                        align-items: center;
                    }

                    .vp-left-container-profile {
                        display: flex;
                        align-items: center;
                        margin: 1em;
                        justify-content: space-between;

                        .vp-cp-left {
                            display: flex;
                            align-items: center;

                            .vp-cp-data {
                                margin-left: 1em;
                            }
                        }

                        .vp-cp-data-time {
                            display: none;
                            flex-direction: column;
                            justify-content: center;
                        }

                        .vp-cp-data-p {
                            margin: 0;
                            color: grey;
                            font-weight: 300;
                        }

                        .vp-cp-data-h6 {
                            margin: 0;
                        }

                        .pccp-image {
                            border-radius: 50%;
                        }
                    }

                    .vp-left-email {
                        margin: 1em;
                        display: none;

                        .vp-cp-data-p {
                            margin: 0;
                            color: grey;
                            font-weight: 300;
                        }
                    }

                    .vp-left-linkedin {
                        margin: 1em;
                        display: none;

                        .pc-cp-data-p {
                            margin: 0;
                            color: grey;
                            font-weight: 300;
                        }
                    }

                    .vp-left-instagram {
                        margin: 1em;
                        display: none;

                        .pc-cp-data-p {
                            margin: 0;
                            color: grey;
                            font-weight: 300;
                        }
                    }

                    .horiz-barrier {
                        width: 100%;
                        height: 2px;
                        background-color: #eaeaea;
                        margin-top: 1em;
                    }
                }
            }
        }

        .vpm-wrapper {
            width: 95%;
            margin-top: 2em;

            .view-profile-main {
                border: 1px solid #eaeaea;
                border-radius: 10px;

                .vpm-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;

                    .vpmh-left {
                        display: flex;
                        align-items: center;

                        .vpmh-left-id {
                            margin-left: 1em;
                        }
                    }
                }

                .vpm-body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .vpm-center-profile {
                        width: 95%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .rating {
                            .rating-list {
                                width: 95%;
                                display: grid;
                                grid-template-columns: auto;

                                .rating-list-item {
                                    border: 1px solid #eaeaea;
                                    border-radius: 10px;
                                    padding: 10px;
                                    width: 20em;
                                    margin: 10px;

                                    .rli-head {
                                        display: flex;
                                        align-items: center;

                                        .rli-head-id {
                                            margin-left: 1em;
                                        }
                                    }

                                    .rli-body {
                                        margin-top: 10px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }

                        .experience {
                            width: 100%;
                        }

                        .education {
                            width: 100%;
                        }

                        .data-container {
                            width: 100%;
                            border: 1px solid #eaeaea;
                            border-radius: 10px;
                            display: flex;
                            flex-direction: column;

                            .skill-box {
                                border: 1px solid #eaeaea;
                                border-radius: 10px;
                                padding: 10px;
                                margin: 10px;
                            }

                            .data-section {
                                display: flex;
                                justify-content: space-between;

                                .names {
                                    .name-profession {
                                        font-size: 16px;
                                        margin: 0;
                                    }

                                    .name-company {
                                        font-size: 16px;
                                        font-weight: 600;
                                    }
                                }

                                .dates {
                                    text-align: start;

                                    p {
                                        margin: 0;
                                    }

                                    .end-date {
                                        font-weight: 600;
                                    }
                                }
                            }

                            .barrier {
                                width: 100%;
                                height: 1px;
                                background-color: #eaeaea;
                                margin-bottom: 1em;
                            }
                        }

                        #skill-container {
                            display: flex;
                            flex-direction: row;
                        }

                        .label {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 1em;
                        }
                    }

                }
            }

            .vpmp-post-controll-main {
                padding: 1em;
                border: 1px solid #eaeaea;
                border-radius: 10px;
                margin-top: 2em;
                margin-bottom: 4em;

                .post-controll-main-head {
                    display: flex;
                    justify-content: space-between;

                    .post-controll-title {
                        font-size: 40px;
                        font-weight: 700;
                    }

                    .post-controll-options {
                        display: flex;
                        align-items: center;

                        .pc-accept {
                            margin-right: 10px;
                            border: none;
                            height: 3em;
                            width: 10em;
                            border-radius: 10px;
                            color: white;
                            background-color: #455bef;
                        }

                        .pc-reject {
                            margin-right: 10px;
                            border: none;
                            height: 3em;
                            width: 10em;
                            border-radius: 10px;
                            color: white;
                            background-color: #FF2A2A;

                        }
                    }
                }

                .post-controll-main-details {
                    margin-top: 1em;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    row-gap: 10px;

                    .pcmd-item {
                        .pcmd-item-value {
                            color: #455bef;
                            font-weight: 600;
                        }
                    }

                    .vert-barrier {
                        height: 50px;
                        width: 2px;
                        margin-left: 20px;
                        margin-right: 20px;
                        background-color: #eaeaea;
                    }
                }

                .post-controll-main-description {
                    margin-top: 1.5em;
                }
            }
        }
    }
}