.business-dashboard {
    .editIcon {
        font-size: 25px;
    }

    .profile-picture {
        width: 150px;
    }

    .search-filter-bar {
        border: 1px solid #eaeaea;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        justify-content: space-between;

        .input-with-icon {
            position: relative;
            flex: 2;
        }

        .vert-barrier {
            height: auto;
            width: 1px;
            background-color: #eaeaea;
        }

        .input-with-icon input {
            padding-left: 30px;
            border: none;
        }

        .input-with-icon .icon-prefix {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .search-button {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #455bef;
            font-weight: 500;
        }

    }

    .wrap {
        margin-top: 6em;
        display: flex;
        justify-content: space-around;
        width: 100%;

        .options {
            height: 31vh;
            width: 15%;

            .create-post {
                width: 100%;
                padding: 15px;
                border-radius: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: #455bef;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            ul {
                border: 1px solid #eaeaea;
                border-radius: 10px;
                margin: 0;
                padding: 0;
                list-style-type: none;

                .selected-text {
                    color: #455bef;
                }

                .unselected-text {
                    color: black;
                }

                li {
                    a {
                        text-decoration: none;
                        font-weight: 500;
                    }

                    padding: 15px;
                }

                .barrier {
                    width: 100%;
                    height: 1px;
                    background-color: #eaeaea;
                }
            }
        }

        .right-side {
            width: 70%;

            .content {
                width: 100%;
                margin-left: 10px;

                .content-header {
                    border: 1px solid #eaeaea;
                    border-radius: 15px;
                    height: 7em;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    text-align: center;

                    .header-barrier {
                        width: 1px;
                        height: 100%;
                        background-color: #eaeaea;
                    }

                    .stat {
                        .stat-nr {
                            font-size: 30px;
                            font-weight: 650;
                            color: #455bef;
                        }
                    }
                }

                .content-body {
                    // height: 40vh;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    border-radius: 10px;
                    margin-top: 1.5em;
                    padding-bottom: 10px;

                    .content-body-sec1 {
                        display: flex;

                        .content-body-sec1-recentpost {
                            width: 70%;
                        }

                        .content-body-sec1-appls {
                            margin-left: 10px;
                            display: flex;
                            flex-direction: column;

                            .cbsa-grid {
                                display: grid;
                                grid-template-columns: auto auto;
                                column-gap: 5px;
                                row-gap: 5px;

                                .cbsa-card {
                                    border: 1px solid #eaeaea;
                                    width: 12em;
                                    height: 12em;
                                    border-radius: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    .cbsa-card-img {
                                        border-radius: 50%;
                                        width: 100px;
                                    }

                                    .cbsa-card-p {
                                        font-size: 12px;
                                        color: #909090;
                                    }

                                    .cbsa-card-h6 {
                                        font-size: 18px;
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .content-body-sec2 {
                        display: flex;

                        .content-body-sec2-recentpost {
                            width: 70%;
                        }

                        .cbsa-card2 {
                            border: 1px solid #eaeaea;
                            border-radius: 10px;
                            height: fit-content;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-left: 10px;
                            height: fit-content;
                            width: 24em;
                            height: 24em;

                            .cbsa-card2-footer {
                                .horiz-barrier {
                                    width: 100%;
                                    height: 1px;
                                    background: #eaeaea;
                                }

                                .ccf-buttons {
                                    display: flex;
                                    align-self: self-end;
                                }
                            }

                            .cbsa-card-img2 {
                                border-radius: 50%;
                                width: 100px;
                            }

                            .cbsa-card-p2 {
                                font-size: 12px;
                                color: #909090;
                            }

                            .cbsa-card-h62 {
                                font-size: 18px;
                                margin-top: 10px;
                            }
                        }
                    }

                    .db-post-container {
                        border: 1px solid #eaeaea;
                        border-radius: 15px;
                        margin-bottom: 1em;
                        cursor: pointer;

                        .db-post-container-header {
                            padding: 0.8em;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .dbpch-left {
                                display: flex;
                                text-align: start;

                                .dbpch-left-user {
                                    margin-left: 1em;
                                }

                                .dbpch-l-h6 {
                                    margin: 0;
                                }

                                .dbpch-l-p {
                                    margin: 0;
                                }
                            }

                            .dbpch-center {
                                display: flex;

                                .vert-barrier {
                                    height: 40px;
                                    width: 2px;
                                    margin-left: 10px;
                                    margin-right: 10px;
                                    background: #eaeaea;
                                }

                                .dbpch-center-tags {
                                    .dbpch-c-tag {
                                        font-size: 14px;
                                        color: #363636;
                                        font-weight: 400;
                                    }

                                    .dbpch-c-value {
                                        font-size: 18px;
                                        font-weight: 600;
                                        color: #455bef;
                                    }
                                }
                            }
                        }

                        .footer-line {
                            width: 100%;
                            height: 2px;
                            background-color: #eaeaea;
                        }

                        .db-post-container-body {
                            padding: 0.8em;
                        }

                        .db-post-footer {
                            display: flex;
                            text-align: center;
                            justify-content: space-between;

                            .vert-barrier {
                                height: 60px;
                                width: 2px;
                                margin-left: 20px;
                                margin-right: 20px;
                                background-color: #eaeaea;
                            }

                            .dbp-footer-info {
                                margin-left: 2em;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;

                                .value {
                                    color: #455bef;
                                    font-weight: 700;
                                    font-size: 18px;
                                }
                            }

                            .dbp-apply-details {
                                height: 60px;
                                width: 140px;
                                background-color: #455bef;
                                color: white;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-bottom-right-radius: 10px;
                                border: none;

                                .a-d-p {
                                    margin: 0;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .graph {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .graph-pic {
                        margin-top: 5em;
                        width: 85%;
                        height: 190px;
                    }
                }

                .content-body-title {
                    display: flex;
                    justify-content: space-between;
                    padding: 25px 25px 0px 0px;
                    margin-bottom: 1em;

                    .container-title-dsc {
                        font-size: 28px;
                        font-weight: 600;
                    }

                    .timeline {
                        display: flex;

                        .timespan {
                            margin-right: 15px;
                        }
                    }
                }
            }

            .posts-business {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;

                .ongoing-posts {
                    display: grid;
                    width: 100%;
                    grid-template-columns: auto auto;

                    .db-post-container {
                        flex: 0 0 auto;
                        border: 1px solid #eaeaea;
                        border-radius: 15px;
                        margin-top: 1em;
                        margin-bottom: 1em;
                        margin-right: 10px;
                        width: 90%;

                        .db-post-container-header {
                            padding: 0.8em;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .dbpch-left {
                                display: flex;
                                text-align: start;

                                .dbpch-left-user {
                                    margin-left: 1em;
                                }

                                .dbpch-l-h6 {
                                    margin: 0;
                                }

                                .dbpch-l-p {
                                    margin: 0;
                                }
                            }

                            .dbpch-center {
                                display: flex;

                                .vert-barrier {
                                    height: 40px;
                                    width: 2px;
                                    margin-left: 10px;
                                    margin-right: 10px;
                                    background: #eaeaea;
                                }

                                .dbpch-center-tags {
                                    .dbpch-c-tag {
                                        font-size: 14px;
                                        color: #363636;
                                        font-weight: 400;
                                    }

                                    .dbpch-c-value {
                                        font-size: 18px;
                                        font-weight: 600;
                                        color: #455bef;
                                    }
                                }
                            }
                        }

                        .footer-line {
                            width: 100%;
                            height: 2px;
                            background-color: #eaeaea;
                        }

                        .db-post-container-body {
                            padding: 0.8em;
                        }

                        .db-post-footer {
                            display: flex;
                            text-align: center;
                            justify-content: space-between;

                            .vert-barrier {
                                height: 60px;
                                width: 2px;
                                margin-left: 20px;
                                margin-right: 20px;
                                background-color: #eaeaea;
                            }

                            .dbp-footer-info {
                                margin-left: 2em;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;

                                .value {
                                    color: #455bef;
                                    font-weight: 700;
                                    font-size: 12px;
                                }
                            }

                            .dbp-apply-details {
                                height: auto;
                                width: 140px;
                                background-color: #455bef;
                                color: white;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-bottom-right-radius: 10px;
                                border: none;

                                .a-d-p {
                                    margin: 0;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                .ongoing-posts::-webkit-scrollbar {
                    display: none;
                }
            }

            .business-applications {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;

                .business-applications-title {
                    margin-top: 1em;
                }

                .business-applications-title-exp {
                    margin-top: 1em;
                }

                .search-filter-bar {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        align-items: stretch;
                    }

                    .input-with-icon {
                        position: relative;
                        flex: 3;
                        margin-right: 10px;

                        @media screen and (max-width: 768px) {
                            margin-right: 0;
                            margin-bottom: 10px;
                        }

                        .icon-prefix {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 10px;
                        }
                    }

                    .search-button {
                        background-color: #455bef;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        cursor: pointer;

                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }
                    }
                }

                #business-sfb {
                    width: 100%;
                    margin-top: 1em;
                }

                .business-applications-grid {
                    width: 95%;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    column-gap: 10px;
                    row-gap: 15px;
                    margin-top: 1em;
                    margin-bottom: 1em;

                    .business-applications-grid-item {
                        border: 1px solid #eaeaea;
                        border-radius: 10px;

                        .bagi-head {
                            padding: 10px;
                            display: flex;
                            align-items: center;

                            .bagi-head-identity {
                                margin-left: 1em;
                            }
                        }

                        .bagi-position {
                            margin-top: 0.5em;
                            margin-bottom: 0.5em;
                            padding: 10px;

                        }

                        .bagi-footer {
                            width: 100%;
                            height: auto;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            background-color: #455bef;
                            color: white;
                            cursor: pointer;
                        }

                        .bagi-footer-exp {
                            width: 100%;
                            height: auto;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            background-color: #909090;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }

            .business-find {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;

                .business-find-title {
                    margin-top: 1em;
                }

                .business-find-bestof-grid {
                    display: grid;
                    grid-template-columns: auto auto auto auto auto;
                    column-gap: 10px;
                    row-gap: 15px;
                    margin-top: 1em;
                    margin-bottom: 1em;
                    width: 100%;

                    .business-find-bestof-grid-item {
                        border: 1px solid #eaeaea;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        .bfbgi-img {
                            padding: 10px;
                        }

                        .bfbgi-identity {
                            text-align: center;
                        }

                        .bfbgi-footer {
                            width: 100%;
                            color: white;
                            background-color: #455bef;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px;
                        }
                    }
                }
            }

            .create-post {
                .cp-title {
                    margin-top: 1em;
                }

                .title-input {
                    width: 90%;
                    border: 1px solid #eaeaea;
                    border-radius: 5px;
                    padding: 10px;
                    margin-top: 1em;
                }

                #textarea {
                    width: 90%;
                    border: 1px solid #eaeaea;
                    border-radius: 5px;
                    margin-top: 1em;
                    padding: 10px;

                    :active {
                        border: 1px solid #eaeaea;
                    }

                    :focus {
                        border: 1px solid #eaeaea;
                    }

                    :focus-visible {
                        border: 1px solid #eaeaea;

                    }
                }

                #secgrid {
                    margin-top: 4em;
                }

                .cp-first-grid {
                    width: 100%;
                    margin-top: 1em;
                    display: grid;
                    grid-template-columns: auto auto auto;

                    .cp-first-grid-item {
                        select {
                            color: #363636;
                        }

                        .grid-item-input {
                            border: 1px solid #eaeaea;
                            border-radius: 10px;
                            padding: 10px;
                            margin-top: 1em;
                            width: 20em;
                        }

                        .select-option {
                            color: black;
                        }
                    }
                }

                .cp-btn {
                    cursor: pointer;
                    margin-top: 2em;
                    margin-bottom: 5em;
                    background-color: #455bef;
                    padding: 12px;
                    border-radius: 5px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10em;

                }
            }

            .contract-db {
                width: 100%;

                .ongoing-contracts {
                    margin-top: 0.5em;
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    column-gap: 10px;
                    row-gap: 10px;

                    .ongoing-contract-item {
                        border: 1px solid #eaeaea;
                        border-radius: 10px;

                        .oci-head {
                            display: flex;
                            align-items: center;

                            .oci-head-img {
                                margin: 10px;
                            }

                            .oci-head-identity {
                                margin-left: 0.5em;
                            }
                        }

                        .oci-body {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            margin-left: 1em;
                            color: #909090;
                        }

                        .oci-footer {
                            width: 100%;
                            height: auto;
                            padding: 10px;
                            background-color: #455bef;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width:768px) {
    .business-dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .options {
                height: 50px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .create-post {
                    display: none;
                }

                ul {
                    display: flex;

                    .barrier {
                        height: 50px;
                        width: 2px;
                        background-color: #eaeaea;
                    }

                    li {
                        font-size: 12px;
                    }
                }
            }

            .right-side {
                width: 100%;
                margin-top: 1em;

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 95%;

                    .content-header {
                        width: 99%;
                        display: flex;
                        justify-content: space-around;

                        .stat {
                            .stat-name {
                                font-size: 13px;
                            }
                        }
                    }

                    .content-body {
                        width: 95%;
                        padding-bottom: 20px;

                        .content-body-sec1 {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .content-body-sec1-recentpost {
                                width: 100%;

                                .db-post-container {
                                    width: 100%;
                                    border: 1px solid #eaeaea;
                                    border-radius: 15px;
                                    margin-bottom: 1em;
                                    cursor: pointer;

                                    .db-post-container-header {
                                        padding: 0.8em;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        .dbpch-left {
                                            display: flex;
                                            text-align: start;

                                            .dbpch-left-user {
                                                margin-left: 1em;
                                            }

                                            .dbpch-l-h6 {
                                                margin: 0;
                                            }

                                            .dbpch-l-p {
                                                margin: 0;
                                            }
                                        }

                                        .dbpch-center {
                                            display: none;

                                            .vert-barrier {
                                                height: 40px;
                                                width: 2px;
                                                margin-left: 8px;
                                                margin-right: 8px;
                                                background: #eaeaea;
                                            }

                                            .dbpch-center-tags {
                                                display: none;

                                                .dbpch-c-tag {
                                                    font-size: 14px;
                                                    color: #363636;
                                                    font-weight: 400;
                                                }

                                                .dbpch-c-value {
                                                    font-size: 16px;
                                                    font-weight: 600;
                                                    color: #455bef;
                                                }
                                            }
                                        }
                                    }

                                    .footer-line {
                                        width: 100%;
                                        height: 2px;
                                        background-color: #eaeaea;
                                    }

                                    .db-post-container-body {
                                        padding: 0.8em;
                                    }

                                    .db-post-footer {
                                        display: flex;
                                        text-align: center;
                                        justify-content: space-between;

                                        .vert-barrier {
                                            height: 60px;
                                            width: 2px;
                                            margin-left: 0px;
                                            margin-right: 0px;
                                            background-color: #eaeaea;
                                        }

                                        .db-footer-info {
                                            margin-left: 1em;
                                            display: flex;
                                            justify-content: center;
                                            flex-direction: column;
                                            align-items: center;

                                            .value {
                                                color: #455bef;
                                                font-weight: 700;
                                                font-size: 10px;
                                            }
                                        }

                                        .dbp-apply-details {
                                            height: auto;
                                            width: 140px;
                                            background-color: #455bef;
                                            color: white;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            border-bottom-right-radius: 10px;
                                            border: none;

                                            .a-d-p {
                                                margin: 0;
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }

                            .content-body-sec1-appls {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        .content-body-sec2 {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .content-body-sec2-recentpost {
                                width: 100%;

                                .db-post-container {
                                    border: 1px solid #eaeaea;
                                    border-radius: 15px;
                                    margin-bottom: 1em;
                                    cursor: pointer;
                                    width: 100%;

                                    .db-post-container-header {
                                        padding: 0.8em;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        .dbpch-left {
                                            display: flex;
                                            text-align: start;

                                            .dbpch-left-user {
                                                margin-left: 1em;
                                            }

                                            .dbpch-l-h6 {
                                                margin: 0;
                                            }

                                            .dbpch-l-p {
                                                margin: 0;
                                            }
                                        }

                                        .dbpch-center {
                                            display: none;

                                            .vert-barrier {
                                                height: 40px;
                                                width: 2px;
                                                margin-left: 10px;
                                                margin-right: 10px;
                                                background: #eaeaea;
                                            }

                                            .dbpch-center-tags {
                                                display: none;

                                                .dbpch-c-tag {
                                                    font-size: 14px;
                                                    color: #363636;
                                                    font-weight: 400;
                                                }

                                                .dbpch-c-value {
                                                    font-size: 18px;
                                                    font-weight: 600;
                                                    color: #455bef;
                                                }
                                            }
                                        }
                                    }

                                    .footer-line {
                                        width: 100%;
                                        height: 2px;
                                        background-color: #eaeaea;
                                    }

                                    .db-post-container-body {
                                        padding: 0.8em;
                                    }

                                    .db-post-footer {
                                        display: flex;
                                        text-align: center;
                                        justify-content: space-between;

                                        .vert-barrier {
                                            height: 60px;
                                            width: 2px;
                                            margin-left: 5px;
                                            margin-right: 5px;
                                            background-color: #eaeaea;
                                        }

                                        .dbp-footer {
                                            .db-footer-info {
                                                margin-left: 2em;
                                                display: flex;
                                                justify-content: center;
                                                flex-direction: column;
                                                align-items: center;

                                                .value {
                                                    color: #455bef;
                                                    font-weight: 700;
                                                    font-size: 12px;
                                                }
                                            }
                                        }

                                        .dbp-apply-details {
                                            height: auto;
                                            width: 140px;
                                            background-color: #455bef;
                                            color: white;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            border-bottom-right-radius: 10px;
                                            border: none;

                                            .a-d-p {
                                                margin: 0;
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                }
                            }

                            .cbsa-wrap {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .content-body-sec2-appls {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                            }

                        }

                        .content-body-title {
                            display: flex;

                            .container-title-dsc {
                                font-size: 15px;
                            }

                            .timeline {
                                .timespan {
                                    font-size: 10px;
                                }
                            }
                        }

                        .graph {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .graph-pic {
                                width: 90%;
                                height: 100px;
                            }
                        }
                    }
                }

                .posts-business {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    width: 100%;

                    .ongoing-posts {
                        overflow-x: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;

                        .db-post-container {
                            border: 1px solid #eaeaea;
                            border-radius: 15px;
                            margin-top: 1em;
                            margin-bottom: 1em;
                            margin-right: 10px;
                            width: 95%;

                            .db-post-container-header {
                                padding: 0.8em;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .dbpch-left {
                                    display: flex;
                                    text-align: start;

                                    .dbpch-left-user {
                                        margin-left: 1em;
                                    }

                                    .dbpch-l-h6 {
                                        margin: 0;
                                    }

                                    .dbpch-l-p {
                                        margin: 0;
                                    }
                                }

                                .dbpch-center {
                                    display: flex;

                                    .vert-barrier {
                                        display: none;
                                        height: 40px;
                                        width: 2px;
                                        margin-left: 10px;
                                        margin-right: 10px;
                                        background: #eaeaea;
                                    }

                                    .dbpch-center-tags {
                                        display: none;

                                        .dbpch-c-tag {
                                            font-size: 14px;
                                            color: #363636;
                                            font-weight: 400;
                                        }

                                        .dbpch-c-value {
                                            font-size: 12px;
                                            font-weight: 600;
                                            color: #455bef;
                                        }
                                    }
                                }
                            }

                            .footer-line {
                                width: 100%;
                                height: 2px;
                                background-color: #eaeaea;
                            }

                            .db-post-container-body {
                                padding: 0.8em;
                            }

                            .db-post-footer {
                                display: flex;
                                text-align: center;
                                justify-content: space-between;

                                .vert-barrier {
                                    height: 60px;
                                    width: 2px;
                                    margin-left: 10px;
                                    margin-right: 10px;
                                    background-color: #eaeaea;
                                }

                                .dbp-footer-info {
                                    margin-left: 1em;
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    align-items: center;

                                    .value {
                                        color: #455bef;
                                        font-weight: 700;
                                        font-size: 10px;
                                    }
                                }

                                .dbp-apply-details {
                                    height: auto;
                                    width: 140px;
                                    background-color: #455bef;
                                    color: white;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-bottom-right-radius: 10px;
                                    border: none;

                                    .a-d-p {
                                        margin: 0;
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }

                .business-applications {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    .business-applications-title {
                        margin-top: 1em;
                    }

                    .business-applications-title-exp {
                        margin-top: 1em;
                    }

                    .search-filter-bar {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;

                        @media screen and (max-width: 768px) {
                            flex-direction: column;
                            align-items: stretch;
                        }

                        .input-with-icon {
                            position: relative;
                            flex: 3;
                            margin-right: 10px;

                            @media screen and (max-width: 768px) {
                                margin-right: 0;
                                margin-bottom: 10px;
                            }

                            .icon-prefix {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 10px;
                            }
                        }

                        .search-button {
                            background-color: #455bef;
                            color: white;
                            padding: 10px 20px;
                            border-radius: 5px;
                            cursor: pointer;

                            @media screen and (max-width: 768px) {
                                width: 100%;
                            }
                        }
                    }

                    #business-sfb {
                        width: 100%;
                        margin-top: 1em;
                    }

                    .business-applications-grid {
                        width: 95%;
                        display: grid;
                        grid-template-columns: auto;
                        column-gap: 10px;
                        row-gap: 15px;
                        margin-top: 1em;
                        margin-bottom: 1em;

                        .business-applications-grid-item {
                            border: 1px solid #eaeaea;
                            border-radius: 10px;

                            .bagi-head {
                                padding: 10px;
                                display: flex;
                                align-items: center;

                                .bagi-head-identity {
                                    margin-left: 1em;
                                }
                            }

                            .bagi-position {
                                margin-top: 0.5em;
                                margin-bottom: 0.5em;
                                padding: 10px;

                            }

                            .bagi-footer {
                                width: 100%;
                                height: auto;
                                padding: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                                background-color: #455bef;
                                color: white;
                                cursor: pointer;
                            }

                            .bagi-footer-exp {
                                width: 100%;
                                height: auto;
                                padding: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                                background-color: #909090;
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .business-find {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    .business-find-title {
                        margin-top: 1em;
                    }

                    .business-find-bestof-grid {
                        display: grid;
                        grid-template-columns: auto;
                        column-gap: 10px;
                        row-gap: 15px;
                        margin-top: 1em;
                        margin-bottom: 1em;
                        width: 100%;

                        .business-find-bestof-grid-item {
                            margin: 10px;
                            border: 1px solid #eaeaea;
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;

                            .bfbgi-img {
                                padding: 10px;
                            }

                            .bfbgi-identity {
                                text-align: center;
                            }

                            .bfbgi-footer {
                                width: 100%;
                                color: white;
                                background-color: #455bef;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 10px;
                            }
                        }
                    }
                }

                .contract-db {
                    width: 100%;

                    .ongoing-contracts {
                        margin-top: 0.5em;
                        margin-right: 5px;
                        margin-left: 5px;
                        margin-bottom: 1em;
                        display: grid;
                        grid-template-columns: auto;
                        column-gap: 10px;
                        row-gap: 10px;

                        .ongoing-contract-item {
                            border: 1px solid #eaeaea;
                            border-radius: 10px;

                            .oci-head {
                                display: flex;
                                align-items: center;

                                .oci-head-img {
                                    margin: 10px;
                                }

                                .oci-head-identity {
                                    margin-left: 0.5em;
                                }
                            }

                            .oci-body {
                                margin-top: 10px;
                                margin-bottom: 10px;
                                margin-left: 1em;
                                color: #909090;
                            }

                            .oci-footer {
                                width: 100%;
                                height: auto;
                                padding: 10px;
                                background-color: #455bef;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}