.contact{
    .row{
        .image{
            margin-top: 8vh;
            height: 90vh;
            background-image: url("../../assets/images/contact.png");
        }
        .contact-fields{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .contact-us-title{
                font-size: 50px;
                font-weight: bold;
            }
            .contact-us-subtitle{
                font-size: 15px;
                color: #9e9e9e;
                font-weight: 400;
                text-align: center;
                width: 50%;
            }
            .inputs{
                margin-top: 1em;
                margin-bottom: 1em;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .right-inputs{
                    width: 45%;
                    input {
                        height: 60px;
                        width: 100%;
                        border: 1px solid #eaeaea;
                        border-radius: 5px;
                        padding-left: 20px;
                        margin-top: 1em;
                        &:active {
                            border: 1px solid #455bef;
                        }
                        &:focus{
                            border: 1px solid #455bef;
                        }
                        
                    }
                }
                .left-inputs{
                    width: 45%;
                    input {
                        height: 60px;
                        width: 100%;
                        border: 1px solid #eaeaea;
                        border-radius: 5px;
                        padding-left: 20px;
                        margin-top: 1em;
                        &:active {
                            border: none;
                            outline: none;
                        }
                    }
                    textarea{
                        width: 100%;
                        border: 1px solid #eaeaea;
                        border-radius: 5px;
                        padding-left: 20px;
                        margin-top: 1em;
                        &:active {
                            border: none;
                            outline: none;
                        }
                    }
                }
            }
            .send-btn-contact{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 18px;
                width: 20em;
                padding-top: 15px;
                padding-bottom: 15px;
                background: #455bef;
                margin-top: 2.5em;
                border-radius: 5px;
                border: none;
            }
        }
    }
}

@media screen and (max-width:768px){
    .contact{
        .image{
            display: none;
        }
        .contact-fields{
            margin-top: 10em;
            .inputs{
                display: flex!important;
                justify-content: center!important;
                align-items: center!important;
                flex-direction: column!important;
                visibility: visible;
                .right-inputs{
                    width: 80%!important;
                    input {
                        height: 60px!important;
                        width: 100%!important;
                        border: 1px solid #eaeaea !important;
                        border-radius: 5px!important;
                        padding-left: 20px!important;
                        margin-top: 1em!important;
                        &:active {
                            border: 1px solid #455bef;
                        }
                        &:focus{
                            border: 1px solid #455bef;
                        }
                        
                    }
                }
                .left-inputs{
                    width: 80% !important;
                }
            }
            .send-btn-contact{
                margin-bottom: 1em!important;
                border: none;
            }
        }
    }
}