.forgot-password-btn {
  float: right;
  padding-bottom: 50px;
  color: black;
}

.btn-primary {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: 1px solid #455bef;
  background-color: #455bef;
  color: white;
}
