.filter {
  width: 80%;

  .expanded-content {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .list-group {
    li {
      .single-item {
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: space-between;
      }
    }
  }

  .list-group-item {
    .lgi-h2 {
      font-size: 25px;
      margin: 0;
      font-weight: 600;
    }

    .single-item {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 880px) {
  .filter {
    display: none;
  }
}