.filter{
  left: 10px;
  width: 300px;
  top: 155px;
  position: fixed;
  .expanded-content{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 880px) {
  .filter{
    display: none;
  }
  }