.login-page {
  margin-top: 5.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  .left {
    width: 45%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .left-wrap {
      .left-h3 {
        margin-bottom: 2em;
      }
    }

    .form-control {
      width: 30em;
      margin-bottom: 1em;
    }

    .button-group {
      margin-bottom: 1em;
    }
  }

  .right {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;

    .right-img {
      width: 85%;
      height: 85vh;
    }
  }
}

@media screen and (max-width: 700px) {
  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .left {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .left-wrap {
        width: 100%;
      }
  
      .form-control {
        width: 25em;
      }
    }
  }

  .right {
    display: none;
  }

 
}

.forgot-password-btn {
  float: right;
  padding-bottom: 50px;
  color: black;
}

.btn-primary {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  background-color: #455bef;
  color: white;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-btn,
.right-btn {
  width: calc(50% - 10px);
}

.button-group .left-btn,
.button-group .right-btn {
  background-color: white;
  color: #455bef;
  border: 1px solid #455bef;
}

.button-group .left-btn:hover,
.button-group .right-btn:hover {
  background-color: #455bef;
  color: white;
}
