.register-page {
  width: 100%;
  display: flex;
  margin-top: 5.5em;
  .left {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    .register-page-btn{
      border: none;
      width: 13em;
      height: 3.5em;
      border-radius: 10px;
      color: white;
      background-color: #455bef;
    }
  }

  .right {
    height: 85vh;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    .right-img-placeholder{
      width: 85%;
      height: 85%;
      background-image: url("../../assets/images/register.png");
      background-repeat: none;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}