.register-page {
  width: 100%;
  display: flex;
  margin-top: 5.5em;
  .left {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    .register-page-btn {
      border: none;
      width: 13em;
      height: 3.5em;
      border-radius: 10px;
      color: white;
      background-color: #455bef;
    }
  }

  .right {
    height: 85vh;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    .right-img-placeholder {
      width: 85%;
      height: 85%;
      background-image: url("../../assets/images/register.png");
      background-repeat: none;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .primary-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
  }

  .left-btn,
  .right-btn {
    width: calc(50% - 10px);
  }

  .primary-buttons .left-btn,
  .primary-buttons .right-btn {
    background-color: white;
    color: #455bef;
    border: 1px solid #455bef;
  }

  .primary-buttons .left-btn:hover,
  .primary-buttons .right-btn:hover {
    background-color: #455bef;
    color: white;
  }
}
@media screen and (max-width:786px) {
  
}